:root {
    --fontDosis: 'Dosis', sans-serif;
    --fontShoulder: 'Big Shoulders Stencil Display', cursive;
    --bg-global: #1C0B20;
    --size14: 14px;
    --size30: 30px;
    --size20: 20px;
    --size40: 40px;

}


h1 {
    /* position: absolute; */
    font-family: var(--fontDosis);
    font-style: normal;
    font-weight: 600 !important;
    font-size: 11vw !important;
    color: #FFFFFF;
    z-index: 3;
    z-index: 5;
    position: relative;

}

.button-header {
    min-width: 165px;
    width: 11vw;
    font-size: 1vw;
    
    height: 3vw;
    min-height: 50px;
    background: rgba(217, 217, 217, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.34);
    box-shadow: inset -3px -3px 4px rgba(0, 0, 0, 0.6), inset -5px -5px 25px rgba(241, 241, 241, 0.07);
    backdrop-filter: blur(4px);
    border-radius: 22px;
    color: white;
    font-weight: 100;
}

#root{
background-color: var(--bg-global);
}

.App {
    text-align: center;
    height: 100%;
}

html,
body,
#root {
    /* height: 100%; */
}

.hr-vertial {
    position: absolute;
    border-left: 1.5px solid #53314E;
    height: 737px;
    left: 17%;
}

.top-1{
    top: auto !important;
}

.header-rigth {
    background-image: url("/public/assets/banner.svg");
    height: 37vw;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
    width: 50%;

}



.hr-horizontal {
    position: absolute;
    border-bottom: 1.5px solid #53314E;
    width: 100%;
    top: 160px;
}

.banner-svg {
    position: relative;
    top: -40px;
    width: 800px;
}


input {
    color: #d7d5d5 !important;
    font-weight: 100 !important;
}

.search {
    width: 90% !important;
    color: white !important;
    max-width: 900px;
}

.search-div {
    padding: 1.5rem 0px;
}

.MuiImageListItem-root {
    box-shadow: 10px 10px 20px #07111c, -10px -10px 20px #0d2136;
    border-radius: 15px;
}

.css-hdw1oc{
    float: left !important;
}

.MuiImageListItemBar-root {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pokemon-img {
    width: 110px !important;
    height: auto !important;
    margin: 0rem auto 5rem;
}

.css-ztrqiq-MuiImageListItemBar-root {
    background: #07121e
}

.pokeball{
    width: 150px;
    height: 150px;
    margin-top: 90px;
    background: rgba(225, 221, 221, 0.08);
    box-shadow: inset 0px 0px 4px rgb(240 20 254 / 31%), inset 3px 3px 4px #f014fe, inset 5px 7px 4px rgb(255 255 255 / 10%);
    backdrop-filter: blur(4px);
    border-radius: 50%;
    display: flex;
}



@media only screen and (max-width: 1200px) {
    .button-header {
      
        font-size: var(--size14);
    }
  }